<!-- <% include ("./partial/header") %> -->
<!DOCTYPE html>
<html>
<h4><a href="google.com.au">Add Record </a> </h4>
<form method="POST" ref="/updatelog/update" action="">
    <table cellspacing="1" border="0" style="border:1px solid #000000" width="600" align=>
        <!-- input of log title -->
        <tr style = "border:1;padding:15 px;"> 
            <td> 
                <p> 
                    <input class="form-control" type="text" placeholder="Log Title" style="width: 150px; height: 40;"></input></p>
            </td>    
        </tr>
        <!-- input of log date -->
        <tr>
            <td>
                <input type="text" placeholder="Log Date"style="width: 100px; height: 40;"></input>
            </td>
        </tr>
        <!-- input of Context -->   
        <tr>
            <td>
                <textarea type="text" placeholder="Context" style="width: 450px; height: 100;"></textarea>
            </td>
        </tr>
       
        
        <tr><td> <input type="text" placeholder="Author Name" style="width: 100px; height: 40;"></input> </td></tr>
       
    

  
    </table>
    <button type="button" style="border-radius: 8px;border:2 px solid; #1a1616">Submit</button>
</form>
</html>




<% include ("./partial/header") %>